*,
*::before,
*::after{
	box-sizing: border-box;
}
.row > div{
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: rgba(86, 61, 124, .15);
	border: 1px solid rgba(86, 61, 124, .2); 
}
// colors
$background-main:  rgba(#660000, 0.7);
$background_yelow: #fff568;
// font colors
$font_color-white: #ffffff;
$font_color-small: #979797;
// font sizes
$font_size-h1:       1.75rem;
$font_size13px:    0.8125rem;
$font_size12px:    0.75rem;
//width
$max_width:        1200px;
body{
	margin: 0;
	background-color: $background-main;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a{
	font-family: 'Georgia', regular;
	font-weight: normal;
	color: $font_color-white;
	text-decoration: none !important;
}


.yelowe-line{
	height: 5px;
	background-color: $background_yelow;
	position: relative;
	z-index: 11;
}
.container-fluid{
	max-width: $max_width;
}
a:hover{
	color: $font_color-white;
}
h1 a{
	font-size: $font_size-h1;
}
